.medium-rounded-left{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: none;
}
.medium-rounded-right{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: none;
}