.titleHeader {
  background-color: #0061f2 !important;
  background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%) !important;
  color: white;
  font-size: 22px;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 1px 1px 3px gray;
  margin-bottom: 10px;
  text-align: center; 
  /* font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 3px solid lightgray ;
  padding: 2px 60px !important; */
}
.linksContainer {
  padding: 10px;
}
.linkItem {
  box-shadow: gray 0px 1px 7px;
  max-width: 24rem;
  width: 23rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  border-radius: 10px;
  
}
.linkItem:hover{
    .arrow{
        margin-right: 5px;
    }
}
.linkItem a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.arrow{
    transition: all 2s;
}
.link{
  list-style: none;
  font-weight: 400;
  font-size: 18px;
}